graphs {
  priority: 0

	  engines {
		id: 141
		engine_name: "Mind_jsl_4"
		side: HOST
		thread_num: 1
		so_name: "./libHost.so"
		ai_config {

	  items {
		name: "path"
		value: "/home/minduser/tools/che/datasets/my-datasets/jsl_4/"
	  }

	  items {
		name: "dataType"
		value: "Image"
	  }

	  items {
		name: "includeYUV420SP"
		value: "false"
	  }

	  items {
		name: "width"
		value: ""
	  }

	  items {
		name: "height"
		value: ""
	  }

	  items {
		name: "meanOfB"
		value: ""
	  }

	  items {
		name: "meanOfG"
		value: ""
	  }

	  items {
		name: "meanOfR"
		value: ""
	  }

	  items {
		name: "batch"
		value: "1"
	  }

	  items {
		name: "useAll"
		value: "All"
	  }

	  items {
		name: "randomNumber"
		value: "1"
	  }

	  items {
		name: "null"
		value: ""
	  }

	  items {
		name: "null"
		value: "Float"
	  }

	  items {
		name: "target"
		value: "FPGA"
	  }
    }
  }

	  engines {
		id: 213
		engine_name: "MindInferenceEngine_1"
		side: DEVICE
		thread_num: 1
		so_name: "./libDevice.so"
		ai_config {

	  items {
		name: "dynamic_aipp"
		value: "0"
	  }

	  items {
		name: "input_image_format"
		value: ""
	  }

	  items {
		name: "csc_switch"
		value: ""
	  }

	  items {
		name: "model_image_format"
		value: ""
	  }

	  items {
		name: "input_image_width"
		value: "416"
	  }

	  items {
		name: "input_image_height"
		value: "416"
	  }

	  items {
		name: "model_path"
		value: "/home/minduser/tools/che/model-zoo/my-model/yolo_myself_darknet53_0_1_rgb_jsl/device/yolo_myself_darknet53_0_1_rgb_jsl.om"
	  }

	  items {
		name: "init_config"
		value: ""
	  }

	  items {
		name: "passcode"
		value: ""
	  }

	  items {
		name: "dump_list"
		value: ""
	  }

	  items {
		name: "dvpp_parapath"
		value: ""
	  }

	  items {
		name: "batch_size"
		value: ""
	  }

	  items {
		name: "dynamic_aipp_flag"
		value: "0"
	  }
    }
  }

	  engines {
		id: 816
		engine_name: "SaveFilePostProcess_1"
		side: HOST
		thread_num: 1
		so_name: "./libHost.so"
		ai_config {

	  items {
		name: "path"
		value: "/home/minduser/tools/che/datasets/my-datasets/jsl_4/"
	  }
    }
  }

	  engines {
		id: 840
		engine_name: "ImagePreProcess_1"
		side: DEVICE
		thread_num: 1
		so_name: "./libDevice.so"
		ai_config {

	  items {
		name: "point_x"
		value: "-1"
	  }

	  items {
		name: "point_y"
		value: "-1"
	  }

	  items {
		name: "crop_width"
		value: "-1"
	  }

	  items {
		name: "crop_height"
		value: "-1"
	  }

	  items {
		name: "self_crop"
		value: "1"
	  }

	  items {
		name: "resize_width"
		value: "416"
	  }

	  items {
		name: "resize_height"
		value: "416"
	  }

	  items {
		name: "dump_value"
		value: "0"
	  }

	  items {
		name: "project_name"
		value: ""
	  }

	  items {
		name: "dvpp_parapath"
		value: ""
	  }

	  items {
		name: "userHome"
		value: "/home/minduser/tools"
	  }
    }
  }

  connects {
    src_engine_id: 141
    src_port_id: 0
    target_engine_id: 840
    target_port_id: 0
  }

  connects {
    src_engine_id: 840
    src_port_id: 0
    target_engine_id: 213
    target_port_id: 0
  }

  connects {
    src_engine_id: 213
    src_port_id: 0
    target_engine_id: 816
    target_port_id: 0
  }
}			
